[Unit]
Description=Remember brightness when pressing power button
After=sm.puri.Phosh.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/op8-brightness.sh

[Install]
WantedBy=default.target
