Source: adaptation-oneplus-instantnoodle
Maintainer: caligaris <thelookouts@hotmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: adaptation-oneplus-instantnoodle
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-oneplus-instantnoodle-configs (= ${binary:Version}),
	 droidian-quirks-firefox-gpu,
Description: Community adaptation for oneplus-instantnoodle - metapackage

Package: adaptation-oneplus-instantnoodle-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Community adaptation for oneplus-instantnoodle - adaptation configurations
