#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	install -D -m 0644 debian/adaptation-oneplus-instantnoodle-configs.power-button-helper.service debian/adaptation-oneplus-instantnoodle-configs/usr/lib/systemd/user/power-button-helper.service

override_dh_installsystemd:
	dh_installsystemd -padaptation-oneplus-instantnoodle-configs --name=camera-hal-force camera-hal-force.service --no-start
	dh_installsystemd -padaptation-oneplus-instantnoodle-configs --name=droidian-perf droidian-perf.service --no-start
	dh_installsystemd -padaptation-oneplus-instantnoodle-configs --name=double-tap double-tap.service --no-start
